<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
<title>Cubes' configuration</title>

<body>

{% if data %}
    <h1> Current Status </h1>  
    <h2>Connections:</h2>
    <div id="cube-graph"></div>
    <br>

    <h2>Battery Levels:</h2> 
    <ul>
    {% for node  in battery_levels%}
        <li> CUBE-{{ node }}: {{ battery_levels[node] }}% </li>
    {% endfor %}
    </ul>

    <br>
    <h4>Raw data:</h4> 
    {{ data }}
    
{% else %}
  The cubes are not inter-connected.
{% endif %}

<script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>

<script>
        var graph = {{ data|safe }};

        var width = 600;
        var height = 600;

        var color = d3.scale.category20();

        var force = d3.layout.force()
            .gravity(0.5)
            .friction(0.5)
            .charge(-5000)
            .linkDistance(175)
            .size([width, height]);

        var svg = d3.select("#cube-graph").append("svg")
            .attr("width", width)
            .attr("height", height);
            // .attr("viewBox", "0 0 " + width + " " + height )
            // .attr("preserveAspectRatio", "xMidYMid meet");

        var drawGraph = function(graph) {
            force
                .nodes(graph.nodes)
                .links(graph.links)
                .start();

            var link = svg.selectAll(".link")
                .data(graph.links)
                .enter()
                .append("line")
                .attr("class", "link")
                .style("stroke-width", 5);

            var gnodes = svg.selectAll('g.gnode')
                .data(graph.nodes)
                .enter()
                .append('g')
                .classed('gnode', true);

            function neighboring(a, b) {
                return graph.links.some(function(l) {
                    if (a == b)
                        return true;
                    else
                        return (l.source === a && l.target === b) || (l.source === b && l.target === a);
                });
            };

            var node = gnodes.append("circle")
                .attr("class", "node")
                .attr("r", 10)
                .on("mouseover", function (d) {
                    link.style("opacity", function(o) {
                        return o.source === d || o.target === d ? 1 : 0.1;
                    });
                    node.style("opacity", function(o) {
                        return neighboring(d, o) ? 1 : 0.1;
                    });
                    labels.style("opacity", function(o) {
                        return neighboring(d, o) ? 1 : 0.1;
                    });
                })
                .on("mouseout", function (d) {
                    link.style("opacity", 1);
                    node.style("opacity", 1);
                    labels.style("opacity", 1);
                })
                .call(force.drag);

            var labels = gnodes.append("text")
                .attr("class", "graph-label")
                .text(function(d) { return d.label; });


            force.on("tick", function() {
                link
                    .attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

                gnodes.attr("transform", function(d) {
                    return 'translate(' + [d.x, d.y] + ')';
                });

                labels.attr("transform", function(d) {
                    return 'translate(' + [16, 3] + ')';
                });

            });
        };

        drawGraph(graph);
</script>

</body>

